name: ci
on:
  push:
    branches:
    - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: docker/setup-qemu-action@v2
    - uses: docker/setup-buildx-action@v2
    - uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - uses: docker/build-push-action@v3
      with:
        context: .
        platforms: linux/amd64
        push: true
        tags: ghcr.io/roy2220/my-dev-box:amd64
        allow: security.insecure
        secrets: |
          gdfuse_service_account_data=${{ secrets.GDFUSE_SERVICE_ACCOUNT_DATA }}
    - uses: docker/build-push-action@v3
      with:
        context: .
        platforms: linux/arm64
        push: true
        tags: ghcr.io/roy2220/my-dev-box:arm64
        allow: security.insecure
        secrets: |
          gdfuse_service_account_data=${{ secrets.GDFUSE_SERVICE_ACCOUNT_DATA }}
